{
    "printWidth": 120,
    "tabWidth": 2,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "endOfLine": "lf",
    "options.editorconfig": true,
    "overrides": [
        {
            "files": ["*.json", ".prettierrc", ".eslintrc"],
            "options": {
                "parser": "json",
                "tabWidth": 4
            }
        },
        {
            "files": ["*.ts", "*.js"],
            "options": {
                "tabWidth": 4,
                "singleQuote": true
            }
        },
        {
            "files": ["*.tsx", "*.jsx"],
            "options": {
                "tabWidth": 2,
                "singleQuote": true
            }
        }
    ]
}
